body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 40px;
}

.main-header {
  text-align: center;
  margin-bottom: 20px;
}

.header-name {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: -.15rem;
  line-height: 1;
  margin: 1rem 0 1rem 0;
}

h1 {
  color: #333;
}

.read-online {
 display: none;
}

/* table { */
/*   width: 100%; */
/*   border-collapse: collapse; */
/*   margin-bottom: 20px; */
/* } */

/* th, td { */
/*   border: 1px solid #ddd; */
/*   padding: 8px; */
/*   text-align: left; */
/* } */

/* th { */
/*   background-color: #f2f2f2; */
/* } */

section {
  max-width: 800px;
  margin: 0 auto;
}

.avatar {
    width: 95px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
}

.social-link {
  border-radius: 25px;
  /* border: 2px solid #73AD21; */
  background-color: #f5878c;
  width:fit-content;
  padding: 10px;
  margin: 5px;
  /* text-align: center; */
  /* width: 200px; */
  /* height: 150px; */

  /* font-size:20px; */
}

.social-links {
  border-collapse: collapse;
  max-width: 800px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.social-url {
 text-decoration: none;
 color: black;
}

hr.solid {
  /* border-top: 3px solid #bbb; */
  border-top: 3px solid #f5878c;
}

.resume-item-title {
  font-weight: 700;
  margin: 0 0 .75rem;
  font-size: 1.5rem;
  letter-spacing: -.05rem;
  line-height: 1;
}

.resume-item-details {
  font-size: 1.125rem;
  margin: 0 0 .75rem;
  line-height: 1;

  &.award-title {
    font-size: 1rem;
  }
}

.section-header {
  /* border-top: 4px solid #f5878c; */
  border-bottom: 2px solid #f5878c;
  padding: .2rem 0 .4rem;
  margin-bottom: 1.5rem;
  /* text-align: left; */

  h2 {
    font-weight: 900;
    font-size: 1.75rem;
    letter-spacing: -.05rem;
    margin: 0;
  }
}


.resume-item-copy { color: #333; margin: .75rem 0 0; }

.resume-item { margin-bottom: 2rem; }
